.main-collections {
  min-height: 120vh;
  position: relative;
  padding: 130px 0 65px;
  display: flex;
  flex-direction: column;
  .collection-opt {
    display: inline-block;
  }

  .search-box {
    display: inline-block;
    padding: 14px;
    background: #3498db;
    border-radius: 3px;
    margin-bottom: 25px;

    .search-title {
      padding: 0;
      font-size: 15px;
      letter-spacing: 1px;
    }
  }
}

.sort-menu {
  display: flex;
  flex-wrap: nowrap;

  .opt-list {
    margin-right: 5px;

    .opt-btn {
      padding: 10px;
      min-width: 60px;
      font-size: 14px;
      color: #fff;
      background-color: transparent;
      border-radius: 5px;

      &:hover {
        background-color: #3b3b3b;
      }
    }
    .opt-btn--active {
      background: #3b3b3b;
    }
  }
}

// Carousel

.carousel {
  height: 500px;
  margin-bottom: 40px;
  position: relative;
  overflow: hidden;
  border-radius: 3px;

  .slider {
    height: 100%;
    display: flex;
    transition: all 0.3s ease-in-out;
  }
}

.carousel-item {
  height: 100%;
  min-width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;

  .content {
    max-width: 48%;
    padding-left: 50px;

    .title {
      font-weight: bold;
      text-shadow: 2px 2px 2px #2e2e2e;
    }

    p {
      text-shadow: 2px 2px 2px #2e2e2e;
      font-size: 16px;
      margin-bottom: 30px;
    }

    .btn-carousel {
      max-width: 130px;
      min-width: 130px;

      &:hover {
        background: #0e0d0d;
      }
    }
  }
}

// indicators
.carousel-indicators {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);

  li {
    border-radius: 100vh;
    width: 18px;
    height: 18px;
    margin-left: 8px;
    margin-right: 8px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.9);
    padding: 5px;
  }
  .selected {
    background: #68c3ff !important;
    transition: all 0.2s ease-out;
  }
}

@media screen and (max-width: 992px) {
  .carousel-item {
    .content {
      max-width: 70%;
    }
  }
}

@media screen and (max-width: 600px) {
  .carousel {
    height: 400px;
  }

  .carousel-item {
    .content {
      padding-left: 15px;
      padding-right: 15px;
      max-width: 100%;

      h1 {
        font-size: 25px;
      }

      p {
        font-size: 14px;
      }

      .btn-carousel {
        font-size: 12px;
        min-width: 110px;
      }
    }
  }
}
