// MAIN HOMEPAGE

.mn-homepage {
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

  .highlight {
    color: #FF285A;
  }

  h1 {
    font-size: 38px;
    font-weight: bold;
  }

  h2 {
    text-transform: uppercase;
    font-size: 16px;
    padding-bottom: 0;
  }

  .sub-text {
    color: #c4c4c4;
    font-size: 18px;
    margin-bottom: 30px;
  }

  .hp-row {
    height: 100vh;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .hp-logo {
    min-width: 400px;
  }

  .hp-discover {
    min-width: 280px;

    .hp-btn {
      display: block;
      background-color: #FF285A;
      font-weight: 400;
      font-size: 18px;
      letter-spacing: 2px;
      padding: 15px;
      margin: auto;
      transition: all 0.3s ease-out;

      &:hover {
        background-color: #19b5fe;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .mn-homepage {
    .hp-btn {
      max-width: 300px;
    }
  }
}

@media screen and (max-width: 768px) {
  .mn-homepage {
    h1 {
      font-size: 30px;
    }

    .hp-discover {
      .hp-btn {
        font-size: 16px;
      }
    }
  }
}


@media screen and (min-width: 768px) {
  .mn-homepage {
    .hp-discover {
      min-width: 500px;
    }
  }
}

@media screen and (max-width: 992px) {
  .mn-homepage {
    .hp-logo {
      min-width: 200px;
    }
  }
}
