.mn-item-info {
  padding: 80px 0 30px;

  .details {
    background: rgba(250, 189, 189, 0.05);
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 278px;
    position: relative;
  }

  .info-row {
    margin: 0;
  }

  .info-image {
    box-shadow: 0px 0px 0px 1px #121212;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 185px;
  }

  .img-info {
    border-radius: 3px;
    overflow: hidden;
  }

  .content-info {
    .info-title {
      padding-top: 0;
      color: rgb(25, 181, 254);
    }

    .overview {
      color: #8e95a5;
    }
    .sub-info {
      color: #bdc3c7;
      margin-bottom: 3px;
    }
    .sub-title {
      color: #8e95a5;
    }

    .selection {
      margin-right: 9px;
      position: relative;

      &::after {
        position: absolute;
        content: ',';
      }

      &:last-child {
        margin-right: 0;

        &::after {
          content: '';
        }
      }
    }

    .starring {
      color: #19b5fe;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .info-buttons {
    .info-link {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      width: 100%;
      border-radius: 100px;
      min-height: 44px;
      box-shadow: 1px 2px 5px #090909;

      &:first-child {
        margin-bottom: 15px;
      }
    }

    .btn-site {
      background-color: #2f3030;

      &:hover {
        background-color: #272929;
      }
    }

    .text-link {
      margin-left: 10px;
    }
  }
}

// movie collection
.collection {
  height: 240px;
  border-radius: 3px;
  padding: 20px 15px;
  background-position: 50% 20%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;

  .holder {
    h1 {
      text-shadow: 2px 2px 2px #2e2e2e;
    }
  }

  .btn {
    background-color: #e74c3c;

    &:hover {
      background-color: #c0392b;
    }
  }
}

// suggest movies
.mn-suggested {
  .suggested-row {
    min-height: 540px;
    position: relative;
  }

  .mv-item {
    padding: 0 15px;
  }

  .suggest-title {
    margin: 30px 0;

    h1 {
      font-size: 22px;
      padding: 0;
    }
  }
}

@media screen and (max-width: 992px) {
  .mn-item-info {
    .content-info {
      font-size: 14px;
    }
    .details {
      .img-info {
        display: none;
      }
    }
    .info-buttons {
      margin-top: 20px;
    }
  }

  // collection
  .collection {
    .holder {
      h1 {
        font-size: 22px;
      }
    }
  }
}

// YOUTUBE MODALS

.vd-holder {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.yt-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-color: #333;
  animation-name: ytModal;
  animation-duration: 0.5s;
}

@keyframes ytModal {
  from {
    top: 55%;
  }
  to {
    top: 50%;
  }
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  max-width: 100%;

  .icon-holder {
    width: 45px;
    position: absolute;
    top: -4%;
    right: -7%;
    z-index: 1;
    cursor: pointer;

    svg {
      fill: #fff;
    }
  }
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// ======================================

// Reviews

.main-reviews {
  margin-top: 25px;

  h1 {
    font-size: 22px;
  }
}

.review-container {
  margin-top: 20px;
  border-radius: 3px;
  overflow: hidden;

  .comment {
    max-height: 0;
    transition: all 0.5s cubic-bezier(0.66, 0.41, 0.43, 1.02);
    background-color: #323637;
    overflow-y: scroll;

    .created-at {
      font-size: 14px;
      margin-bottom: 15px;
      color: #a5a5a5;
    }

    .text {
      padding: 20px 50px;
      font-size: 16px;
    }
  }

  .show-comment {
    max-height: 800px;
  }
}

.review-box {
  display: flex;
  align-items: center;
  background-color: #272929;
  padding: 8px 15px;

  .review-image {
    border-radius: 100%;
    overflow: hidden;
    margin-right: 15px;
    max-height: 48px;
    max-width: 48px;
  }

  h1 {
    font-size: 22px;
    padding: 0;
  }
}

// =======================================

@media (min-width: 576px) {
  .mn-item-info {
    .info-image {
      min-height: 330px;
    }
  }

  .mn-suggested {
    .mv-item {
      flex-basis: 25%;
    }
  }
}

@media (min-width: 768px) {
  .mn-item-info {
    .info-image {
      min-height: 350px;
    }
  }
}

@media (min-width: 992px) {
  .mn-item-info {
    .info-image {
      min-height: 430px;
    }
  }

  .mn-suggested {
    .mv-item {
      flex-basis: 16.6%;
    }
  }

  .actor-item {
    flex-basis: 16.6%;
  }
}

@media (min-width: 1200px) {
  .mn-item-info {
    .info-image {
      min-height: 530px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .embed-container {
    .icon-holder {
      position: absolute;
      top: -20%;
      right: 0;
    }
  }

  .yt-box {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .embed-container {
    .icon-holder {
      width: 25px;
      position: absolute;
      top: -20%;
      right: 0;
    }
  }
}
